.benefit {
  position: relative;
  overflow: hidden;
}

.benefit::after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(21, 7, 47, 1) 0%, rgba(6, 9, 37, 0.56) 62%, rgba(4, 6, 26, 0) 77%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 21.6px 0px rgba(255, 130, 228, 0.24);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 10.8px;
}

.benefit__content {
  overflow: hidden;
  border-radius: 10.8px;
}

.benefit__title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
  color: #FFFFFF;
  z-index: 1;
}

.benefit__img {
  width: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 320px) and (min-height: 667px) {
  .benefit__title {
    padding: 0 1.92vw 2.88vw;
    font-size: 2.93vw;
  }
}

/* new iphones  */
@media only screen and (min-width: 375px) and (min-height: 812px) {

  .benefit__title {
    padding: 0 1.92vw 2.88vw;
    font-size: 2.76vw;
  }
}