@import './assets/styles/link-btn.css';
@import './assets/styles/banner.css';
@import './assets/styles/badge.css';
@import './assets/styles/offer.css';
@import './assets/styles/benefit.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: black;
}

