.link-btn {
  display: block;
  font-weight: 600;
  color: #070B33;
  text-align: center;
  border-radius: 32px;
  background-color: #FFFFFF;
}

/* iphone 8+/se */
@media only screen and (min-width: 320px) and (min-height: 667px) {
  .link-btn {
    padding: 4.267vw;
    font-size: 5.33vw;
  }
}

/* new iphones  */
@media only screen and (min-width: 375px) and (min-height: 812px) {
  .link-btn {
    padding: 4.1vw;
    font-size: 5.2vw;
  }
}